@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
@media (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5rem) {
  html {
    font-size: 75%;
  }
}
.site-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
/*----------Navigation------------*/
#nav-logo {
  width: 5rem;
}
#navbar {
  background-color: #000019;
}
i {
  color: #fff;
  font-size: 3rem;
}
#navbar i:hover {
  color: #a6eef7;
}
#navbar ul {
  min-height: 100vh;
  width: 6rem;
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.uil-favorite:active {
  color: #fff89d;
}

#navbar li a:hover {
  color: #fff;
}
/*----------About------------*/
.logo {
  position: absolute;
  padding: 2.5rem 2.5rem;
}
.logo img {
  width: 7rem;
}
h1 {
  font-size: 5rem;
}
.start-wrapper {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
.container-about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #000019;
}
.container-about img {
  width: 50rem;
}
.description {
  display: flex;
  white-space: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 4rem;
  width: 60rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.45;
}
.btn--join {
  margin-top: 2.2rem;
  text-align: center;
  width: 15rem;
  padding: 1.8rem;
  background-color: #000019;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}
.btn--join:hover {
  background-color: #a6eef7;
  color: #000019;
  transform: scale(1.1);
}
/*----------Create note------------*/
.quill-container {
  padding: 1rem;
  width: 80vw;
  text-align: center;
  margin: auto;
  position: relative;
}
.ql-editor::before {
  font-size: 1.4rem;
}
#editor {
  height: 80vh;
  background-color: #fff;
}
.btn {
  outline: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn--create {
  margin-top: 1%;
  padding: 10px 25px;
  border: 1px solid #000019;
  color: #000019;
  outline: none;
  text-transform: uppercase;
  background: #fff;
}
.btn--create:hover {
  transform: scale(1.1);
  background: #000019;
  color: #ffffff;
}
.btn--edit {
  margin-left: 2%;
  padding: 10px 25px;
  border: 1px solid #000019;
  color: #000019;
  outline: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  background: #fff;
}
.btn--edit:hover {
  transform: scale(1.1);
  background: #000019;
  color: #ffffff;
}
.btn--stats {
  margin-left: 2%;
  padding: 10px 25px;
  border: 1px solid #000019;
  color: #000019;
  outline: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  background: #fff;
  height: 100px;
  width: 200px;
  position: absolute;
  left: 100px;
  top: 150px;
}
.btn--stats:hover {
  transform: scale(1.1);
  background: #000019;
  color: #ffffff;
}
/*----------Container for notes------------*/
.container-search {
  padding: 1rem;
  outline: none;
  border-radius: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
.bar {
  width: 100%;
  display: inline-flex;
  text-decoration: none;
  background: transparent;
  border: .1rem solid #ececec;
  border-radius: 2rem;
  color: #000019;
  background: #ffffff;
}
.search-bar {
  padding: .5rem .5rem;
  font-size: 1.3rem;
  border: 0;
  outline: none;
  border-radius: 2rem;
}
.container-search i {
  color: #000019;
  font-size: 1.8rem;
  padding: .5rem;
}
.table-container {
  width: 25rem;
  height: 100vh;
  background-color: #ececec;
  overflow-y: auto;
  -webkit-box-shadow: inset -4px 0px 5px -2px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: inset -4px 0px 5px -2px rgba(0, 0, 0, 0.11);
  box-shadow: inset -4px 0px 5px -2px rgba(0, 0, 0, 0.11);
}
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  font-size: 1.4rem;
  border-collapse: collapse;
  border: 0;
  scroll-behavior: smooth;
  border-bottom: 1px solid #00001923;
  border-right: 1px solid #00001923;
  cursor: pointer;
}
tr {
  background: rgb(255, 255, 255);
  color: #000;
}
td {
  padding-left: 1rem;
}
th {
  font-size: 1.6rem;
}
.title {
  padding-left: 1rem;
  text-align: left;
}
.date {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: right;
  padding-right: 1rem;
}
.fav {
  font-size: 1.8rem;
  text-align: right;
  padding-right: 1rem;
}
/*----------error page------------*/
.error-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.error {
  display: flex;
  flex-direction: column;
}
.error img {
  width: 80rem;
}
.btn--error {
  width: 10rem;
  margin: 0 auto;
  padding: 10px 25px;
  border: 1px solid #000019;
  color: #000019;
}
.error a {
  color: #000019;
  text-decoration: none;
}
/*--------- star button------------*/
#show-fav {
  background: none;
  outline: none;
}
#show-fav i:focus {
  color: rgb(255, 255, 161);
}
#show-fav:hover {
  color: rgb(255, 255, 161);
  cursor: pointer;
}
.hidden {
  display: none;
}
/*----------Responsive Styles------------*/
@media (max-width: 750px) {
  .start-wrapper {
    margin-top: 10vh;
    justify-content: space-around;
  }
  h1 {
    font-size: 4rem;
    padding-bottom: 1.4rem;
  }
  .container-about img {
    width: 90vw;
  }
  .description {
    width: 90vw;
    font-size: 2rem;
  }

  #navbar {
    display: none;
  }
  /*----------Mobile nav------------*/
  .mobile-wrapper {
    z-index: 2;
    position: fixed;
    width: 0;
  }
  .header {
    display: block;
    padding: 10px;
    background-color: #fff;
    width: 100vw;
  }
  .line {
    width: 3.5rem;
    border-radius: 0.2rem;
    height: 0.5rem;
    margin: 0.7rem;
    background-color: #000019;
  }
  .menu-toggle:hover {
    cursor: pointer;
  }
  .mobile-nav ul {
    list-style-type: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 5rem);
  }

  .mobile-nav {
    overflow: hidden;
    background-color: #000019;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 15vw;
    transform: translate(-100%);
    position: relative;
    display: inline-block;
  }

  .mobile-nav {
    text-align: center;
  }
  .mobile-nav li a {
    display: block;
    padding: 25px 0;
    color: #fff;
  }
  .mobile-nav li a:hover {
    color: #a6eef7;
  }
  /*----------Table------------*/
  .table-container {
    width: 100%;
    position: relative;
    padding-top: 6rem;
    min-height: 100vh;
  }
  .search-bar {
  padding: 1rem 1rem;
  }
  .bar {
    display: flex;
    align-content: center;
    width: 80%;
  }
  .container-search i {
    padding:1rem;
  }
  /*----------Create note------------*/
  .quill-container {
    width: 90vw;
    text-align: center;
    margin: auto;
    position: relative;
    padding-top: 3rem;
  }
  .ql-editor::before {
    font-size: 1.4rem;
  }
  #editor {
    height: 100vw;
    background-color: #fff;
  }
  .btn {
    margin-top: 4%;
  }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 100vw;
    height: 70vh;
  }
  .close-button {
    float: right;
    position: relative;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: .25rem;
    background-color: #000019;
    color: #fff;
    padding:.4rem;
    font-size: 2rem;
  }
  .close-button:hover {
    background-color: #a6eef7;
    color: #000019;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  .write {
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    padding: 6rem 3.3rem;
    border: 0;
  }
  .write i {
    font-size: 3rem;
    padding: 2.5rem;
    color: #fff;
    outline: 0;
    border: 0;
    background-color: #000019;
    border-radius: 50%;
  }
  #write-btn:hover {
    background: #a6eef7;
    color: #000019;
  }
  #write-btn {
    border: 0;
  }
  #write-btn:focus {
    outline: none;
    cursor: pointer;
  }
}
@media (min-width: 750px) {
  .mobile-wrapper,
  .write, .close-button {
    display: none;
  }
}
