@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
:root {
  --main-bg-light: #ffffff;
  --main-bg-dark: #1a1a1a;
  --main-text-color: #000019;
  --secondary-text-color: #ffffff;
  --primary: #000019;
  --accent: #a6eef7;
  --accent-second: #ececec;
  --star: rgb(255, 255, 161);
  --foreground: var(--main-bg-dark);
  --background: var(--main-bg-light);
}
.darkmode {
  --main-bg-light: #ffffff;
  --main-bg-dark: #1a1a1a;
  --main-text-color: #000019;
  --secondary-text-color: #ffffff;
  --primary: #000019;
  --accent: #a6eef7;
  --accent-second: #363636;
  --star: rgb(255, 255, 161);

  --foreground: var(--main-bg-light);
  --background: var(--main-bg-dark);
}
html,
body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
html {
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  min-height: 100vh;
}
html {
  font-size: 62.5%;
}
@media (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5rem) {
  html {
    font-size: 75%;
  }
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  display: none;
}
.site-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
/*----------Navigation------------*/
#nav-logo {
  width: 5rem;
}
#nav-logo:hover {
  transform: scale(1.1);
}
#navbar {
  padding-top: 1.5%;
  background-color: var(--primary);
  height: 100vh;
  z-index: 999;
}
i {
  color: var(--main-bg-light);
  font-size: 3rem;
}
#navbar ul {
  width: 6rem;
  min-height: 90vh;
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.uil-analysis:hover {
  color: var(--accent);
  transform: scale(1.1);
}
.uil-favorite:hover {
  color: var(--star);
  transform: scale(1.1);
}
/*----------About------------*/
.logo {
  position: absolute;
  padding: 2.5rem 2.5rem;
}
.logo img {
  width: 7rem;
}
h1 {
  font-size: 5rem;
}
.start-wrapper {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
.container-about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: (var(--primary));
}
.container-about img {
  width: 50rem;
}
.description {
  display: flex;
  white-space: wrap;
  justify-content: space-around;
  flex-direction: column;
  margin: 4rem;
  width: 60rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.45;
}
.btn--join,
.btn--error {
  outline: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 2.2rem;
  text-align: center;
  width: 15rem;
  padding: 1.8rem;
  background-color: var(--primary);
  color: var(--main-bg-light);
  font-weight: 700;
}
.btn--join:hover {
  background-color: var(--accent);
  color: var(--main-text-color);
  transform: scale(1.1);
}
/*----------Editor------------*/
.modal {
  margin: 0 auto;
}
.quill-container {
  width: 50vw;
  background-color: var(--background);
  color: var(--foreground);
  text-align: center;
  height: 100vh;
}
.ql-editor {
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.ql-editor.ql-blank::before {
  content: attr(data-placeholder);
  color: var(--foreground);
}
.btns {
  display: flex;
  position: absolute;
  height: 40vh;
  right: 3rem;
  bottom: 2rem;
  flex-direction: column;
  justify-content: space-between;
}
.btn {
  height: 5rem;
  width: 5rem;
  color: var(--main-bg-light);
  outline: 0;
  border: 0;
  background-color: var(--primary);
  border-radius: 50%;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  right: 3rem;
}
.btn:hover {
  background-color: var(--accent);
  color: var(--main-text-color);
  transform: scale(1.1);
}
.btn--create {
  position: absolute;
  right: 3.5rem;
  bottom: 5rem;
}
.btn--create i {
  font-size: 2rem;
  background: transparent;
}
.btn--delete i {
  font-size: 2rem;
  background: transparent;
}
.btn--new i {
  font-size: 2rem;
  background: transparent;
}
.btn--edit i {
  font-size: 2rem;
  background: transparent;
}
.btn--print i {
  font-size: 2rem;
}
/*----------Container for notes------------*/
.container-search {
  position: relative;
  padding: 1rem;
  outline: none;
  border-radius: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
.bar {
  width: 100vw;
  display: inline-flex;
  text-decoration: none;
  background: transparent;
  border: 0.1rem solid var(--accent-second);
  border-radius: 2rem;
  color: var(--foreground);
  background: var(--background);
}
.search-bar {
  padding: 0.5rem 0.5rem;
  font-size: 1.3rem;
  border: 0;
  outline: none;
  border-radius: 2rem;
  background: var(--background);
  color: var(--foreground);
}
.container-search i {
  color: var(--foreground);
  font-size: 1.6rem;
  padding: 0.5rem;
}
.table-container {
  width: 25rem;
  background-color: var(--accent-second);
  overflow-y: auto;
  -webkit-box-shadow: inset -4px 0px 5px -2px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: inset -4px 0px 5px -2px rgba(0, 0, 0, 0.11);
  box-shadow: inset -4px 0px 5px -2px rgba(0, 0, 0, 0.11);
}
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  font-size: 1.4rem;
  border-collapse: collapse;
  border: 0;
  scroll-behavior: smooth;
  border-bottom: 1px solid var(--accent-second);
  border-right: 1px solid var(--accent-second);
  cursor: pointer;
  background: var(--background);
  color: var(--foreground);
}
table:active,
table:hover {
  background: var(--accent);
}
tr {
  height: 3rem;
}
td {
  padding-left: 1rem;
}
th {
  font-size: 1.6rem;
}
.title {
  padding-left: 1rem;
  text-align: left;
  white-space: nowrap;
}
.date {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: right;
  padding-right: 1rem;
}
.fav {
  font-size: 1.8rem;
  text-align: right;
  padding-right: 1rem;
}
/*----------Loader------------*/
#loading {
  position: absolute;
  width: 96vw;
  right: 0;
  height: 100vh;
  background: var(--background);
}
.contaniner-loading {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.item {
  width: 30px;
  height: 30px;
  position: absolute;
}
.item-1 {
  background-color: #fa5667;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.item-2 {
  background-color: #7a45e5;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.item-3 {
  background-color: #1b91f7;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.item-4 {
  background-color: #fac24c;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
@keyframes item-1_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 30px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(30px, 0);
  }
}
@keyframes item-2_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-30px, 0);
  }
  50% {
    transform: translate(-30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
}
@keyframes item-3_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(-30px, -30px);
  }
  75% {
    transform: translate(-30px, 0);
  }
}
@keyframes item-4_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, -30px);
  }
  75% {
    transform: translate(0, -30px);
  }
}
/*----------Statistics------------*/
.container-stats {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.pie-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50rem;
  height: 50rem;
  color: var(--foreground);
  margin: 0 auto;
}
#localstoragequota {
  padding-top: 1rem;
  font-size: 1.4rem;
  white-space: pre-wrap;
  margin: 0 auto;
  line-height: 2rem;
  letter-spacing: 0.09rem;
}
.stats-notes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50rem;
  color: var(--foreground);
  height: 15rem;
  margin: 0 auto;
}
#keysinlocalstorage {
  font-size: 3rem;
  font-weight: 900;
  white-space: wrap;
  text-align: center;
}
#dateoffirstandlastnote {
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  white-space: pre-wrap;
  letter-spacing: 0.01rem;
}

#statsonnotes {
  padding-top: 1.8rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
  white-space: pre-wrap;
}
.bar-chart-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 40rem;
  color: var(--foreground);
  white-space: pre-wrap;
  text-align: center;
}
/*----------error page------------*/
.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  display: flex;
  flex-direction: column;
}
.error img {
  width: 90rem;
}
.error a {
  color: var(--primary);
  text-decoration: none;
}
/*--------- star button------------*/
#show-fav,
#btn-settings {
  background: none;
  outline: none;
}
#show-fav i:focus {
  color: var(--star);
}
#show-fav:hover {
  color: var(--star);
  cursor: pointer;
  transform: scale(1.1);
}
.hidden {
  display: none;
}
/*----------Dark mode------------*/
.dark-mode-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  cursor: pointer;
  font-size: 0.4rem;
  outline: none;
}
.dark-mode-toggle i {
  color: var(--foreground);
}
/*----------Responsive Styles------------*/
@media only screen and (max-width: 860px) {
  .start-wrapper {
    margin-top: 10vh;
    justify-content: space-around;
  }
  .logo {
    right: 0;
  }
  .logo img {
    width: 6rem;
  }
  #navbar {
    display: flex;
    padding-top: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 7rem;
    width: 100%;
  }
  #navbar ul {
    margin: 0 auto;
    width: 90vw;
    flex-direction: row;
    min-height: 4rem;
    justify-content: space-between;
    align-items: center;
  }
  #navbar:hover {
    color: var(--accent);
  }
  #nav-logo {
    width: 3.2rem;
  }
  #nav-logo:hover {
    border-bottom: 1px solid var(--accent);
  }
  h1 {
    font-size: 4rem;
    padding-bottom: 1.4rem;
  }
  .container-about img {
    width: 90vw;
  }
  .description {
    width: 90vw;
    font-size: 2rem;
  }
  /*----------Table------------*/
  .table-container {
    width: 100vw;
    position: relative;
    padding-top: 1rem;
  }
  .search-bar {
    padding: 0.5rem 0.5rem;
  }
  .bar {
    display: flex;
    align-content: center;
    width: 80%;
  }
  .container-search i {
    padding: 0.5rem;
    font-size: 2.2rem;
  }
  /*----------Editor------------*/
  .quill-container {
    width: 90vw;
    text-align: center;
    margin: auto;
    position: relative;
    height: 90vh;
    padding-top: 2.2rem;
  }
  #editor {
    width: 100%;
    background-color: var(--background);
  }
  .btn {
    margin-top: 4%;
  }
  .modal {
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .btns {
    position: absolute;
    right: 0;
    height: 10vh;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .modal-content {
    position: absolute;
    z-index: 6;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    top: 0;
  }
  #close-button {
    top: 1rem;
    right: 0.3rem;
    z-index: 5;
    position: absolute;
    line-height: 1.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 2rem;
    outline: none;
    background: 0;
  }
  #close-button i :hover {
    color: var(--accent);
  }
  #close-button i {
    color: var(--foreground);
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  .write {
    position: absolute;
    bottom: 6rem;
    right: 0;
    outline: none;
    padding: 6rem 2.4rem;
    border: 0;
  }
  .write i {
    font-size: 3rem;
    padding: 2.2rem;
    color: var(--main-bg-light);
    outline: 0;
    border: 0;
    background-color: var(--primary);
    border-radius: 50%;
  }
  #write-btn:hover {
    background: var(--accent-second);
    color: var(--main-text-color);
    transition: all 0.3s ease-in-out;
  }
  #write-btn {
    border: 0;
    background: transparent;
  }
  #write-btn:focus {
    outline: none;
    cursor: pointer;
  }
  .dark-mode-toggle {
    top: 2rem;
  }
  /*   error page */
  .error {
    display: flex;
    flex-direction: column;
  }
  .error img {
    width: 100vw;
  }
  /* --- stats page ----- */
  .container-stats {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex-flow: wrap;
    position: relative;
    justify-content: space-between;
  }
  .pie-chart-container {
    height: 50vh;
  }
  .stats-notes {
    width: 40vh;
  }
  .bar-chart-container {
    margin: 0 auto;
    width: 70vw;
    height: 50vh;
    justify-content: center;
    color: var(--foreground);
    white-space: pre-wrap;
    text-align: center;
    padding-bottom: 7rem;
  }
}
@media only screen and (min-width: 860px) {
  .write,
  #close-button {
    display: none;
  }
}
/* print */
@page {
  size: auto;
  margin: 0mm;
}
/* 
@media print {
  #navbar, .table-container, .write, #dark-mode-toggle, #close-button, .btn--create {
    display: none;
  }
  .quill-container {
    width: 100%
  }
}
 */
